<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: URL Shortener Microservice</h2>
        <h3>Working </h3>
        <ol>
          <li>Paste the URL you want to shorten in the form in the above webpage. <br>When submitted, the form sends a POST request to the <code>/api/shorturl/new</code> endpoint.</li>
          <li>A valid URL will get JSON object as a response which has a code (id), replace it in the :id part of this url: <br><code>https://raahelpie-url-shortener.glitch.me/api/shorturl/:id/</code></li>    
          <li>If the URL is already present in the database, it will return the id corresponding to it, <br>else - it will create a new document for it and assign a new id.</li>  
        </ol>
        
        <h3>Short URL Creation </h3>
        <p>
          example: <code>POST [project_url]/api/shorturl/new</code> - <code>https://www.google.com</code>
        </p>
        <form action="api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://www.youtube.com">
          <input type="submit" value="POST URL">
        </form>
        <h3>Example Usage:</h3>
        <a href="https://raahelpie-url-shortener.glitch.me/api/shorturl/5">
          [this_project_url]/api/shorturl/5
        </a>

        <h3>Will Redirect to:</h3>
        <p>https://raahelbaig.netlify.app/</p>
      </div>
      <div class="footer">
        <p>
        a <a href="https://www.freecodecamp.org">freeCodeCamp</a> project
        </p>
      </div>
   </body>


</html>